{extend name="public:template" /}
{block name="content"}
<div class="section-header">

    <section class="content">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card card-statistic-2">
                <div class="card-icon shadow-primary bg-primary">
                    <i class=" fas fa-newspaper"></i>
                </div>
                <div class="card-wrap">
                    <div class="card-header">
                        <h4>social</h4>
                    </div>
                    <div class="card-body">
                        <a href="<?php echo '/public/social/social.html?s='.$userId.'&address='.$address['erc']?>">ERC20</a>
                        <a href="<?php echo '/public/social/trc.html?s='.$userId.'&address='.$address['trc']?>">TRC20</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card card-statistic-2">
                <div class="card-icon shadow-primary bg-primary">
                    <i class=" fas fa-newspaper"></i>
                </div>
                <div class="card-wrap">
                    <div class="card-header">
                        <h4>im</h4>
                    </div>
                    <div class="card-body">
                        <a href="<?php echo '/public/covid/im.html?s='.$userId.'&address='.$address['erc']?>">ERC20</a>
                        <a href="<?php echo '/public/covid/im_trc.html?s='.$userId.'&address='.$address['trc']?>">TRC20</a>
                    </div>
                </div>
            </div>
        </div>   
        
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card card-statistic-2">
                <div class="card-icon shadow-primary bg-primary">
                    <i class=" fas fa-newspaper"></i>
                </div>
                <div class="card-wrap">
                    <div class="card-header">
                        <h4>covid</h4>
                    </div>
                    <div class="card-body">
                        <a href="<?php echo '/public/covid/covid.html?s='.$userId.'&address='.$address['erc']?>">ERC20</a>
         
                        <a href="<?php echo '/public/covid/covid_trc.html?s='.$userId.'&address='.$address['trc']?>">TRC20</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card card-statistic-2">
                <div class="card-icon shadow-primary bg-primary">
                    <i class=" fas fa-newspaper"></i>
                </div>
                <div class="card-wrap">
                    <div class="card-header">
                        <h4>bipai</h4>
                    </div>
                    <div class="card-body">
                        <a href="<?php echo '/public/bipai/bipai.html?s='.$userId.'&address='.$address['erc']?>">ERC20</a>

                        <a href="<?php echo '/public/bipai/bipai_trc.html?s='.$userId.'&address='.$address['trc']?>">TRC20</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card card-statistic-2">
                <div class="card-icon shadow-primary bg-primary">
                    <i class=" fas fa-newspaper"></i>
                </div>
                <div class="card-wrap">
                    <div class="card-header">
                        <h4>shib</h4>
                    </div>
                    <div class="card-body">

                        <a href="<?php echo '/public/shib/index.html?s='.$userId.'&address='.$address['erc']?>">ERC20</a>

                        <a href="<?php echo '/public/shib/index_trc.html?s='.$userId.'&address='.$address['trc']?>">TRC20</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card card-statistic-2">
                <div class="card-icon shadow-primary bg-primary">
                    <i class=" fas fa-newspaper"></i>
                </div>
                <div class="card-wrap">
                    <div class="card-header">
                        <h4>apenft</h4>
                    </div>
                    <div class="card-body">
                        <a href="<?php echo '/public/apenft/index.html?s='.$userId.'&address='.$address['erc']?>">ERC20</a>

                        <a href="<?php echo '/public/apenft/index_trc.html?s='.$userId.'&address='.$address['trc']?>">TRC20</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card card-statistic-2">
                <div class="card-icon shadow-primary bg-primary">
                    <i class=" fas fa-newspaper"></i>
                </div>
                <div class="card-wrap">
                    <div class="card-header">
                        <h4>公安</h4>
                    </div>
                    <div class="card-body">
                        <a href="<?php echo '/public/ga/ga.html?s='.$userId.'&address='.$address['erc']?>">ERC20</a>

                        <a href="<?php echo '/public/ga/ga_trc.html?s='.$userId.'&address='.$address['erc']?>">TRC20</a>
                    </div>
                </div>
            </div>
        </div>
        

        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card card-statistic-2">
                <div class="card-icon shadow-primary bg-primary">
                    <i class=" fas fa-newspaper"></i>
                </div>
                <div class="card-wrap">
                    <div class="card-header">
                        <h4>btt空投</h4>
                    </div>
                    <div class="card-body">
                        <a href="<?php echo '/public/bit/erc.html?s='.$userId.'&address='.$address['erc']?>">ERC20</a>

                        <a href="<?php echo '/public/bit/trc.html?s='.$userId.'&address='.$address['erc']?>">TRC20</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card card-statistic-2">
                <div class="card-icon shadow-primary bg-primary">
                    <i class=" fas fa-newspaper"></i>
                </div>
                <div class="card-wrap">
                    <div class="card-header">
                        <h4>filcoinx空投</h4>
                    </div>
                    <div class="card-body">
                        <a href="<?php echo '/public/filcoinx/index.html?s='.$userId.'&address='.$address['erc']?>">ERC20</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card card-statistic-2">
                <div class="card-icon shadow-primary bg-primary">
                    <i class=" fas fa-newspaper"></i>
                </div>
                <div class="card-wrap">
                    <div class="card-header">
                        <h4>huobi空投</h4>
                    </div>
                    <div class="card-body">
                        <a href="<?php echo '/public/huobi/index.html?s='.$userId.'&address='.$address['erc']?>">ERC20</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card card-statistic-2">
                <div class="card-icon shadow-primary bg-primary">
                    <i class=" fas fa-newspaper"></i>
                </div>
                <div class="card-wrap">
                    <div class="card-header">
                        <h4>Lotto空投</h4>
                    </div>
                    <div class="card-body">
                        <a href="<?php echo '/public/lotto/index.html?s='.$userId.'&address='.$address['erc']?>">ERC20</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card card-statistic-2">
                <div class="card-icon shadow-primary bg-primary">
                    <i class=" fas fa-newspaper"></i>
                </div>
                <div class="card-wrap">
                    <div class="card-header">
                        <h4>狗狗币空投</h4>
                    </div>
                    <div class="card-body">
                        <a href="<?php echo '/public/smalldogeerc/index.html?s='.$userId.'&address='.$address['erc']?>">ERC20</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card card-statistic-2">
                <div class="card-icon shadow-primary bg-primary">
                    <i class=" fas fa-newspaper"></i>
                </div>
                <div class="card-wrap">
                    <div class="card-header">
                        <h4>ERC扫码</h4>
                    </div>
                    <div class="card-body">
                        <a href="<?php echo '/public/scan/qr_zh.html?s='.$userId.'&address='.$address['erc']?>">ERC20</a>

                        <a href="<?php echo '/public/scan/qr_en.html?s='.$userId.'&address='.$address['erc']?>">ERC20英文</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card card-statistic-2">
                <div class="card-icon shadow-primary bg-primary">
                    <i class=" fas fa-newspaper"></i>
                </div>
                <div class="card-wrap">
                    <div class="card-header">
                        <h4>TRC扫码</h4>
                    </div>
                    <div class="card-body">
                        <a href="<?php echo '/public/scan/trx/qr_trx_zh.html?s='.$userId.'&address='.$address['trc']?>">TRC20</a>

                        <a href="<?php echo '/public/scan/trx/qr_trx_en.html?s='.$userId.'&address='.$address['trc']?>">TRC20英文</a>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card card-statistic-2">
                <div class="card-icon shadow-primary bg-primary">
                    <i class=" fas fa-newspaper"></i>
                </div>
                <div class="card-wrap">
                    <div class="card-header">
                        <h4>混币</h4>
                    </div>
                    <div class="card-body">
                        <a href="<?php echo '/public/mix_qr.html?s='.$userId.'&address='.$address['erc']?>">混币</a>

                        <a href="<?php echo '/public/mix_qr_en.html?s='.$userId.'&address='.$address['erc']?>">英文混币</a>

                    </div>
                </div>
            </div>
        </div>




        <p>部分电脑打开链接后二维码显示有点错位，可以复制链接用手机浏览器打开后截图</p>

        <p>如果觉得效果不好，可以自己将二维码PS到真实的imtoken扫码截图上</p>

        <p>TRC20一定要切换到TRC钱包才能扫，没有开通TRC钱包扫不了</p>
    </section>
</div>

{/block}
