{extend name="public:template" /}
{block name="content"}
<div class="section-body">
    <h2 class="section-title">地址设置</h2>
    <div style="text-align: center;font-size: 23px;color: red">（授权钱包地址,授权地址私钥提款时填写,私钥必填否则无法提款）</div>
    <div class="row">
        <div class="col-md-12">
            <form id="setting-form" autocomplete=off class="needs-validation" novalidate="">
                <div class="card" id="settings-card">
                    <div class="card-body">
                        <div class="form-group row align-items-center">
                            <label for="site-title" class="form-control-label col-sm-3 text-md-right">ERC</label>
                            <div class="col-sm-6 col-md-9 row no-gutters">
                                <input type="text" name="erc_address" class="form-control" value="{$erc.address}">
                            </div>
                        </div>
                        <!--<div class="form-group row align-items-center">
                            <label for="site-title" class="form-control-label col-sm-3 text-md-right">ERC密钥</label>
                            <div class="col-sm-6 col-md-9 row no-gutters">
                                <input type="text" name="erc_key" class="form-control" value="{$erc.pri_key}">
                            </div>
                        </div>-->

                        <div class="form-group row align-items-center">
                            <label for="site-title" class="form-control-label col-sm-3 text-md-right">TRC</label>
                            <div class="col-sm-6 col-md-9 row no-gutters">
                                <input type="text" name="trc_address" class="form-control" value="{$trc.address}">
                            </div>
                        </div>

                        <!--<div class="form-group row align-items-center">
                            <label for="site-title" class="form-control-label col-sm-3 text-md-right">TRC密钥</label>
                            <div class="col-sm-6 col-md-9 row no-gutters">
                                <input type="text" name="trc_key" class="form-control" value="{$trc.pri_key}">
                            </div>
                        </div>-->

                        <div class="card-footer bg-whitesmoke text-md-right">
                            <button class="btn btn-primary" id="save-btn">保存</button>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>
{/block}

{block name="extend-script"}
<script type="text/javascript">
    $("#setting-form").submit(function() {
        let save_button = $(this).find('#save-btn'),
            output_status = $("#output-status"),
            card = $('#settings-card');

        let card_progress = $.cardProgress(card, {
            spinner: false
        });
        save_button.addClass('btn-progress');
        output_status.html('');

        $.ajax({
            url: "{:url('Address/update')}",
            method: 'post',
            data: $("#setting-form").serialize(),
            dataType: 'json',
            success(res) {
                if (res.success === true) {
                    swal('操作成功', {buttons: false, icon: 'success'});
                    setTimeout(function () { location.reload() }, 1500)
                }
                if (res.success === false) swal('出现错误', res.err_msg, 'error');
            }
        })

        return false;
    });
</script>
{/block}

